.cabeçalho__menu-hamburguer {
    width: 48px;
    height: 48px;
    background-image: url("../assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--cor-branca);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 0.5em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    background-color: var(--cor-branca);
}

.lista-menu__titulo {
    padding-bottom: 15px;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
}

.lista-menu__titulo {
    color: var(--cor-titulo);
    font-weight: 700;
}

.lista-menu__item {
    background: var(--cor-azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.container__botao,
.container__titulo,
.opções,
.container__texto {
    display: none;
}


@media screen and (min-width: 1024px) {

    .container__imagem-transparente,
    .cabeçalho__menu-hamburguer {
        display: none;
    }

    .cabeçalho {
        padding: 0 4em;
    }

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;
    }

    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__link {
        text-decoration: none;
        color: var(--cor-preta);
    }

    .opções__botão:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opções__botão {
        display: none;
    }

}

@media screen and (min-width: 1728px) {
    .container__texto {
        display: block;
    }

    .container{
        padding-right: 2em;
    }

    .cabeçalho__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 20px;
        color: var(--cor-preta);
    }

    .cabeçalho {
        justify-content: space-between;
        padding: 0 2em;
    }

    .opções {
        margin-right: auto;
    }

}